<div class="container">
  <h4>References</h4>
  <br />

  <div class="row">
    <div class="column">
      <h6><strong> Joseph Esquivel </strong></h6>
      <p>jesquivel@hau.edu.ph</p>
      <p><strong> College Professor</strong></p>
    </div>
    <div class="column">
      <h6><strong> Dr. Alma Theresa Manaloto </strong></h6>
      <p>atmanaloto@hau.edu.ph</p>
      <p><strong> College Professor </strong></p>
    </div>
    <div class="column">
      <h6><strong>Ms. Everly Chua </strong></h6>
      <p>echua@hau.edu.ph</p>
      <p><strong> College Professor</strong></p>
    </div>
  </div>
</div>
<hr />
<br />
