<hr>
<div class="container">
  
  <img
    class="rounded-circle img-fluid"
    src="https://stackblitz.com/files/angular-cv-2135-alc/github/Angelo-07/angular-cv-2135-alc/main/src/app/gelo.jpg"
    alt="gelo"
  />
  <br />
  <input [(ngModel)]="myName" placeholder="Enter your name" />
  <p style="font-family:times new roman; font-size: 20px">Hello, {{ myName }}! I am</p>

  <h2>Angelo L. Cometa</h2>
  <address>email me at:  
   <a href="acometa07@gmail.com"> acometa07@gmail.com</a>.<br> 
    </address>
  <br />
  <h3>About</h3>
  <p>
    A dedicated, passionate, responsible and hard-working person. I am a mature
    team <br />player who can adapt to any difficult situation. I can work well
    in both team and<br />on my own initiative. I can perform well under
    pressure and meet strict deadlines.<br />I am very organized and always plan
    to ensure I manage my time effectively.
  </p>
  
</div><br><br><br><hr>
