<div class="container">
  <img
    class="rounded-circle img-fluid"
    src="https://stackblitz.com/files/angular-cv-2135-alc/github/Angelo-07/angular-cv-2135-alc/main/src/app/gelo.jpg"
    alt="gelo"
  />
  <br />

  <h1>Angelo L. Cometa</h1>
  <br />
  <h4>About</h4>
  <p>
    A dedicated, passionate, responsible and hard-working person. I am a mature
    team <br />player who can adapt to any difficult situation. I can work well
    in both team and<br />on my own initiative. I can perform well under
    pressure and meet strict deadlines.<br />I am very organized and always plan
    to ensure I manage my time effectively.
  </p>
  <br />
</div>
