.container {
  width: 100%;
}
h4 {
  text-align: center;
}

.Front{
  background-color: #f5cb6942;
}
.web{
  background-color: #f5cb6942;
}
.com{
  background-color:#f5cb6942;
}
.FES {
  width: 90%;
  background-color: #eac934;
}
.WD {
  width: 80%;
  background-color: #eac934;
}
.CS {
  width: 65%;
  background-color: #eac934;
}

.skills {
  text-align: right;
  color: white;
}
hr {
  position: relative;
  border: none;
  height: 5px;
  background-color: rgb(204, 150, 52);
 
}