<hr><div class="container ACH">
  <h4>Achievements</h4>
  <br />

  <div class="container">
    <h4><b>Academic Achievements</b></h4><br>
    <h6><b>Dean's Lister</b></h6>
    <h6 class="text-teal">
      Bachelor of Science in Information Technology - Website Development
    </h6>
    <p>
      ~ 3rd Year - 1st Semester S.Y 2022-2023 <br />~ 2nd Year - 1st and 2nd
      Semester S.Y 2021-2022 <br />~ 1st Year - 1st and 2nd Semester S.Y
      2020-2021
    </p>
    <hr />
  </div>
  <div class="container">
    <h6><b>With Honors</b></h6>
    <h6 class="text-teal">
      Senior High School - Science Technology Engineering and Mathematics
    </h6>
    <p>~ Grade 12 S.Y 2017-2018</p>
    <hr />
  </div>
  <div class="container">
    <h6><b>With Honors</b></h6>
    <h6 class="text-teal">Junior High School</h6>
    <p>~ Grade 10 S.Y 2016-2017</p>
    <hr />
  </div>
  <br />
  <div class="container">
    <h4><b>Non Academic Achievements</b></h4>
    <p>
      ~ <strong>Champion</strong> - Solo Dance Competition - School of Computing
      College Days 2020 <br />~ <strong> 1st Place </strong> - HAUTAW (Solo
      Dance Competition) University Days 2021 <br />~<strong>Champion</strong> -
      Dance Competition- School of Computing College Days 2022
    </p>
    <hr />
  </div><br>
  <div class="container">
    <h4><b>Certifications</b></h4>
    <p>~ Introduction to Cyber Security <br> ~ Introduction to Data Studio <br> ~ Google Analytics for Begginers <br> ~ Optimal Prime: The Quintessential Guide to a Famed Channel</p>
    <hr />
  </div>
</div><br><hr>
